<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
    <a href="/index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <img class="logo" src="/img/logo-default.png" alt="Logo">
        <h2 class="m-0 text-primary" style="padding-top: 5px;">Fai</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="/index.html" class="nav-item nav-link">Home</a>
            <a href="/about.html" class="nav-item nav-link">About</a>
            <a href="/service.html" class="nav-item nav-link">Service</a>
            <a href="/project.html" class="nav-item nav-link">Projects</a>
            <a href="/contact.html" class="nav-item nav-link">Contact</a>
        </div>
    </div>
</nav>