<div class="container-fluid bg-light p-0">
    <div class="row gx-0 d-none d-lg-flex">
        <div class="col-lg-7 px-5 text-start">
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <small class="fa fa-map-marker-alt text-primary me-2"></small>
                <small>Industrial Adra, Damascus, Syria</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center py-3">
                <small class="far fa-clock text-primary me-2"></small>
                <small>Sun - Thu : 09.00 AM - 04.00 PM</small>
            </div>
        </div>
        <div class="col-lg-5 px-5 text-end">
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <small class="fa fa-phone-alt text-primary me-2"></small>
                <small>+963 950 555 275</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center">
                <a class="btn btn-sm-square bg-white text-primary me-1" href="https://www.facebook.com/faiforfurniture" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-sm-square bg-white text-primary me-0" href="https://www.instagram.com/fai_for_furniture" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                <div class="nav-item dropdown" style="z-index: 100000;">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-globe" aria-hidden="true"></i></a>
                    <div class="dropdown-menu fade-up m-0">
                        <a href="/index.html" class="dropdown-item">English</a>
                        <a href="/index.html" class="dropdown-item">Arabic</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
